@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.player-wrapper {
  width: auto; 
  height: auto; 
  border-radius: 2px;
}
.react-player {
  padding-top: 56.25%; 
  position: relative; 
}

.react-player > div {
  position: absolute; 
}

.slick-slide.slick-center img {
  transform: scale(0.8);
}

.image_carousel {
  transform: scale(0.7);
}
